<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663133939368-t5kctalq4680dmp769pit8smhscqu0l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663133939368-t5kctalq4680dmp769pit8smhscqu0l0</string>
	<key>API_KEY</key>
	<string>AIzaSyDRzJPQH9_ne-jjqby6uhoXe3t_G7F6ueg</string>
	<key>GCM_SENDER_ID</key>
	<string>663133939368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stemco.1234</string>
	<key>PROJECT_ID</key>
	<string>bluefang-a67df</string>
	<key>STORAGE_BUCKET</key>
	<string>bluefang-a67df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663133939368:ios:1538f51cec8b22fe47449d</string>
</dict>
</plist>